#topbar {
	width: 100%
}
#title {
	margin-right: 10em;
}
#title-inner {
	width: 100%;
}
#save {
	width: 10em;
	float: right;
}
#save-inner {
	width: 100%;
}
#page-content {
	width: 100%;
	height: 40em;
}